/* Write your custom CSS here */
/* montserrat-100 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/montserrat-v10-latin-100.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Thin'), local('Montserrat-Thin'),
         url('../fonts/montserrat-v10-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v10-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v10-latin-100.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v10-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v10-latin-100.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  
  /* montserrat-200 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/montserrat-v10-latin-200.eot'); /* IE9 Compat Modes */
    src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
         url('../fonts/montserrat-v10-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v10-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v10-latin-200.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v10-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v10-latin-200.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  
  /* montserrat-300 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat-v10-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Light'), local('Montserrat-Light'),
         url('../fonts/montserrat-v10-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v10-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v10-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v10-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v10-latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  
  /* montserrat-regular - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v10-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  
  /* montserrat-500 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v10-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
         url('../fonts/montserrat-v10-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v10-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v10-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v10-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v10-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

.page-sidebar  {
    width: 230px !important;
    z-index: 30;
}


.navbar .logo-box {
    width: 230px !important;  
}

.linkTitle{
    visibility: visible;
}

.page-sidebar ul{

list-style: none !important;

margin: 0;

padding: 0;



}
.page-sidebar p {

   padding-top: 5px;
    font-weight: bold;
    font-size: 13px;
}





.page-sidebar a {

  padding: 12px 20px;
  text-decoration: none;
  color: #9fb1c2;
  font-weight: bold;
  font-size: 13px;
  display: block;

}
.page-sidebar i{
    font-size: 28px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
}

.page-sidebar .glyphicon{
    margin-right: 6px;
}

.page-sidebar a:hover{
    background-color: #293846;
    color: #ffff;
    display: block;
}

.page-sidebar .active a{

    color:#fff;
    background-color: #293846;
}
.page-sidebar .collapseable li{
    padding-left: 20px;
    padding-top: 5px;
}

.page-sidebar .collapseable a{
    color:#9fb1c2;
    font-size: 13px;
    padding: 0px 10px;
    text-decoration: none;
    display: block;

}

.page-sidebar .collapseable a:hover{
    color:#fff;
}

.page-sidebar .collapseable{
    border-left: 4px solid #1ab394;
    background-color: #293846;
}

.page-sidebar .link > ul > li {
   padding-bottom: 10px;
}

.loginContainer{
    height: 100% !important;
    width: 100%;
    margin: auto;
    background: url(../img/bg2.jpg) no-repeat 50% 50%;
    display: table;
    top:0;
    background-size: cover;
} 

.loginContainer .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
    font-family: 'Montserrat' !important;
    font-weight: 100;
}

.loginwrap{
    background-color: rgba(1, 0, 0, 0.56);
    box-sizing: border-box;
    padding: 10px 20px 20px 20px;
    margin: 0 auto;
    color: #fff;
    width: 30%;
  
    border-radius: 3px; 
    box-shadow: 0 15px 40px rgba(0, 0, 0,.5);
}

.imgBox{
    float:right; 
    width: 35px;
    height: 40px;
   
}

.imgBox img{

    width: 100%;
    height: 100%;
}

.topTxt{
    font-size: 14px;
    padding-bottom: 5px;
}
.frmCont{
    padding-top: 25px;
}

.frmCont a{
    font-weight: 500;
}
.form-control{
 color:#000 !important;
 font-weight: normal;
}

.loginwrap .left{
  font-weight: normal;  
}



.btn-primary {
    color: #fff;
    background-color: #115BDC;
    border-color: transparent;
}
 
#content-wrapper{
    margin: 20px 0px 50px 0px;
    background-color: #fff;
    
    /* border-top: 4px #e7eaec solid; */
}

.chart-wrap{
    width: 100%; 
}







.server-notification{
    margin: 0 !important;
    width:100%;
   padding-top: 10px;
   padding-bottom: 20px;
    color: #fff;
    
}

.box-up{
    font-family: Roboto;
   font-weight: 100;
   font-size: 18px;
    width:100%;
   padding: 20px;
   height: 60%;
   border: 1px solid #036903;
   background-color:#3f9f03;
}

.delete{
 cursor: pointer;
 color: red !important;
}

.iconspace{
    margin-left: 50px;
    color: #115BDC;
    cursor: pointer;
}


#view{
    color:#115BDC;
}



#users .tbIcons{

    padding: 0px !important;
    height: 20px !important;
    width: 15px !important;
}

.tbData{
width: 100%; 
cellspacing: 0;
}

.ionic-success {
    color: #036903;
    font-size: 18px;
    text-align: center;
}

.pend{

     color:orange;
}

.ionic-pending {
    color:orange;
    font-size: 18px;
    text-align: center;
}

.ionic-fail {
    color: #96180d;
    font-size: 18px;
    text-align: center;
}

.ionic-default {
    color:lightblue;
    font-size: 18px;
    text-align: center;
}

.dropbuttom{

    margin-bottom: 30px;
}

.table-responsive label{
    color: #115BDC !important;
}

.tbData thead{
    color: #115BDC !important;
}
.btn-success {
    color: #fff;
    background-color: #079230 !important;
    border-color: transparent;
}

.providusLogo{
    margin: 0 auto;
    color: #fff;
    width: 30%;
   
    padding-left: 90px;
    padding-bottom: 10px;

}
.logo img{
    width: 80%;
    height: 100%;
    padding-left: 10px;
     border-left: 2px solid #044D8C;

}
.providusLogo img{
    width: 70%;
}


.udkBox{
 
    padding: 20px;
    /* border: 1px solid #293846;
    /* width: 500px; */
    /* height: 150px; */ 
}

.content-inner{

    padding: 20px;
   
}





.logo{
    width: 140px;
   
    height: 100%;
    margin-top: 5px;
}
  .padOption{

    padding-top: 7px;
  }

canvas{
    
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.badge.badge-success {
    background: #115BDC;
    color: #FFF;
}

.navbar .logo-box {
    background: #115BDC;
}

.btn-primary:hover {
    color: #fff;
    background-color: #044D8C;
    border-color: #045296;
}


.option {
    font-size: 14px;
    font-weight: bold;
    width: 99.9%;
}


.option ul {
  padding: 0;
}

.option li {
    display: block;
    border-bottom: 1px solid rgba(204, 204, 204, 0.63);
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.placeCon {
    display: none;
    font-family: Roboto;
    font-size: 13px;
    margin-top: 3px;
    font-weight: 100;
}

.pull-right {
    float: right !important;
}

.no-pad {
    padding-right: 0 !important;
}
.space {
    width: 50% !important;
}