<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Card Control Administration | Login Page</title>

	<meta charset="UTF-8" />
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />

	<link th:href="@{/vendor/fontawesome/css/font-awesome.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/modern.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/themes/green.css}" class="theme-color" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/toastr.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/loading.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet" type="text/css" />
</head>
<body>
	<section class="loginContainer">
		<div class="inner">
			<div class="loginwrap">

				<div class="row">

					<div class="col-md-9 left">
						<div class="topTxt">Login In</div>
						<div class="downTxt">Enter your username and password </div>

					</div>

					<div class="col-md-3">

						<div class="imgBox">

							<img th:src="@{/img/iseclogo.gif}" />

						</div>

					</div>

				</div>
				<div class="frmCont">

	<form id="login-form" th:action="@{/login}" method="post">
		<div class="alert alert-danger" th:if="${param.error}">
			<span>Login Failed. Invalid Username/Password.</span>
		</div>
		<div class="form-group">
			<input type="text"  required="required" id="email" name="username" placeholder="Email" autofocus="autofocus" />
		</div>
		<div class="form-group">

		 <input class="form-control" type="password"  id="password" name="password"  placeholder="Password" required="required"/>
		</div>
		<div>
			<input class="btn btn-primary btn-block" type="submit" value="Log in" />
		</div>
	</form>
		</div>
			</div>
		</div>
	</section>
</body>
</html>